* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  /*background-color: #101012;*/
  margin: 0;
  line-height: 1.5;
}

p {
  display: block;
}

nav {
  display: block;
}

div {
  display: block;
}



.navbar {
  width: 100%;
  background-color: rgb(26, 27, 32);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  height: 72px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 1400px;
}



.logo {
  display: flex;
  width: auto;
  height: auto;
}



.links {
  gap: 48px;
  justify-content: center;
  display: flex;
  margin: auto;
}

.link-name {
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(125, 137, 153);
  cursor: pointer;
  font-weight: 600;
  transition: 0.4s;
}

.link-name:hover{
  color: white;
}



.other {
  display: flex;
  gap: 24px;
}



.currency {
  display: flex;
}

.currency-container {
  align-items: center;
  cursor: pointer;
  gap: 10px;
  display: flex;
}

.currency-symbol {
  color: rgb(251, 213, 6);
  font-size: 24px;
  font-weight: 500;
}

.currency-name {
  color: white;
  font-size: 14px;
  font-weight: 600;
}



.language {
  display: flex;
  margin-right: 32px;
}

.language-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.language-name {
  color: white;
  font-size: 14px;
  font-weight: 600;
}



.login {
  display: block;
}


.login-button {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100px;
  transition: all 0.2s ease 0s;
  height: 40px;
  background-color: rgb(251, 213, 6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover{
  background-color: rgb(255, 232, 28);
}

.login-text {
  font-weight: 600;
  font-size: 15px;
}
